@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<div class="row">
    <div class="col-md-6 col-xs-8">

        <h1>Hello Bloggers!</h1>

        <form>

            <div class="form-group">
                <label> Date : </label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label> Location : </label>
                <input class="form-control"/>
            </div>
            <div><input type="submit" value="add" class="btn btn-success" /></div>
        </form>
    </div>
    <div class="col-md-6 col-xs-4">
        <h4>Some other things</h4>
    </div>
</div>